<%- include('../partials/header') %>
<h2><%= title %> </h2>

<hr>

<h3><%= wrongPwd %> </h3>
<h3><%= errorEmail %> </h3>

<form class="register-form" action="/profil" method="POST">

    <label for="email">E-mail</label>
    <input type="email" class="form-control col-8" placeholder="E-mail" name="email" id="email" required>
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control col-8" placeholder="Mot de passe" name="password" id="password" required>


    <button type="submit" class="col-6 btn btn-lg btn-block btn-primary text-white my-3">Submit</button>

</form>

<%- include('../partials/footer') %>