<%- include('../partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4">Votre quiz</h2>
    <h2><%= quiz.title %> </h2>
    <hr>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <p class="px-3">Catégorie(s) : </p>
        <% quiz.tags.forEach(tag => { %>
        <p class="px-3"> <a href="/tags/<%= tag.id %>"><%= tag.name %></a> </p>
        <% }) %>
    </div>

    <hr>
    <p class="lead"><%= quiz.description %></p>
    <p>Par <%= quiz.author.firstname %> <%= quiz.author.lastname %></p>
</div>

<hr>

<div class="card-deck d-flex flex-column mb-3 text-center">
    <h3> Nombre de questions : <%= quiz.questions.length %></h3>
    <hr>
    <div class="col-12 d-flex flex-column">

        <form method="POST">

            <% quiz.questions.forEach(question => { %>

            <div class="card mb-4 shadow-sm d-flex flex-column">

                <h3 class="card-header">Niveau <%= question.level.name %></h3>

                <div class="card-body d-flex flex-column justify-content-between">
                    <h4 class="h4 card-title pricing-card-title my-5"><%= question.question %> </h4>

                    <article class="container">
                        <ul>
                            <% question.answers.sort(()=> Math.random()-0.5).forEach(answer => { %>

                            <li>
                                <input type="radio" id="<%= answer.id %>" name="<%= question.id %>" value="<%= answer.id %>">
                                <label for="<%= answer.id %>"><%= answer.description %></label>
                            </li>

                            <% }) %>

                        </ul>
                    </article>

                </div>
            </div>

            <% }) %>

            <button type="submit" class="btn btn-outline-dark my-2 d-grid gap-2 col-6 mx-auto">Valider</button>

        </form>

    </div>
</div>


<%- include('../partials/footer') %>