<%- include('../partials/header') %>
<h2><%= title %> </h2>

<hr>

<% if (errorPwd) { %>
<p class="alert alert-danger" role="alert"><%=  errorPwd %></p>
<% } %>

<% if (errorEmail) { %>
<p class="alert alert-danger" role="alert"><%=  errorEmail %></p>
<% } %>

<% if (errorUserAlreadyExists) { %>
<p class="alert alert-danger" role="alert"><%=  errorUserAlreadyExists %></p>
<% } %>


<form class="register-form" action="/connexion" method="POST">
    <label for="lastname">Nom</label>
    <input type="text" class="form-control col-8" placeholder="Nom" name="lastname" id="lastname">
    <label for="firstname">Prénom</label>
    <input type="text" class="form-control col-8" placeholder="Prénom" name="firstname" id="firstname">
    <label for="email">E-mail</label>
    <input type="text" class="form-control col-8" placeholder="E-mail" name="email" id="email" required>
    <p class="info-email">Nous ne partageons jamais votre e-mail</p>
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control col-8" placeholder="Mot de passe" name="password" id="password" required>
    <label for="passwordConfirm">Confirmez votre mot de passe</label>
    <input type="password" class="form-control col-8" placeholder="Votre mot de passe" name="passwordConfirm"
        id="passwordConfirm" required>



    <button type="submit" class="col-6 btn btn-lg btn-block btn-primary text-white my-3">S'inscrire</button>

</form>

<%- include('../partials/footer') %>